@{
    ViewData["Title"] = "Wysłano link do resetu hasła";
    Layout = "_Layout";
}

<div class="text-center mt-5">
    <h2 class="mb-3 text-info">@ViewData["Title"]</h2>
    <p class="mb-4">
        Jeśli podany adres e-mail istnieje w naszej bazie, wysłaliśmy na niego link do resetu hasła.
        <br /> Sprawdź swoją skrzynkę pocztową (także folder SPAM).
    </p>

    <a asp-action="Login" asp-controller="Account" class="btn btn-primary">
        ← Powrót do logowania
    </a>
</div>
