@{
    ViewData["Title"] = "Wysłano link do resetu hasła";
}

<h2>@ViewData["Title"]</h2>

<p>Jeśli podany adres e-mail istnieje w naszej bazie, to wysłaliśmy na niego link do resetu hasła.</p>

<a asp-action="Login" asp-controller="Account" class="btn btn-primary">Zaloguj się</a>
