@{
    ViewData["Title"] = "Hasło zresetowane";
    Layout = "_Layout";
}

<div class="text-center mt-5">
    <h2 class="mb-3 text-success">@ViewData["Title"]</h2>
    <p class="mb-4">Twoje hasło zostało zresetowane pomyślnie. Możesz się teraz zalogować.</p>

    <a asp-action="Login" asp-controller="Account" class="btn btn-primary">
        Zaloguj się
    </a>
</div>
