@{
    ViewData["Title"] = "Hasło zresetowane";
}

<h2>@ViewData["Title"]</h2>

<p>Twoje hasło zostało zresetowane pomyślnie.</p>

<a asp-action="Login" asp-controller="Account" class="btn btn-primary">Zaloguj się</a>
