@{
    ViewData["Title"] = "Witamy w HotelManagement";
}

<div class="container mt-5 text-center">
    <h1 class="display-4">Witaj w <strong>HotelManagement</strong></h1>

    <p class="lead mt-4">Zarezerwuj pokój w naszym hotelu!</p>

    <!-- Przycisk, który przenosi użytkownika do RoomType/Index -->
    <div class="mt-4">
        <a href="@Url.Action("Index", "RoomType")" class="btn btn-primary btn-lg">Zobacz dostępne pokoje</a>
    </div>
</div>

<hr />
<div class="dropdown text-end me-5 mb-5">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Testowy Dropdown
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Akcja</a></li>
        <li><a class="dropdown-item" href="#">Inna akcja</a></li>
    </ul>
</div>

