@{
    ViewData["Title"] = "Potwierdzenie rezerwacji";
}

<div class="container mt-5 text-center">
    <h2 class="mb-4 text-success">Dziękujemy za rezerwację!</h2>

    <p>Twoja rezerwacja została pomyślnie zapisana w systemie.</p>
    <p>Wkrótce skontaktujemy się z Tobą, aby potwierdzić szczegóły.</p>
    <p class="mt-4"><i class="bi bi-envelope"></i> Potwierdzenie zostało wysłane na Twój adres e-mail.</p>

    <a href="@Url.Action("Index", "RoomType")" class="btn btn-primary mt-4">Powrót do przeglądania pokoi</a>
</div>
